In [5]:
import pandas
import csv

In [6]:
with open('titanic.csv') as csv_file:
    reader = csv_file.readlines()

In [7]:
data = [row.split(',') for row in reader]

In [48]:
for item in data:
    female_survivors = []
    if item[1] == '1' and item[5] == 'female':
        female_survivors.append(item)
    
    count = enumerate(female_survivors, start = 0)

(0, ['2', '1', '1', '"Cumings', ' Mrs. John Bradley (Florence Briggs Thayer)"', 'female', '38', '1', '0', 'PC 17599', '71.2833', 'C85', 'C\n'])
(0, ['3', '1', '3', '"Heikkinen', ' Miss. Laina"', 'female', '26', '0', '0', 'STON/O2. 3101282', '7.925', '', 'S\n'])
(0, ['4', '1', '1', '"Futrelle', ' Mrs. Jacques Heath (Lily May Peel)"', 'female', '35', '1', '0', '113803', '53.1', 'C123', 'S\n'])
(0, ['9', '1', '3', '"Johnson', ' Mrs. Oscar W (Elisabeth Vilhelmina Berg)"', 'female', '27', '0', '2', '347742', '11.1333', '', 'S\n'])
(0, ['10', '1', '2', '"Nasser', ' Mrs. Nicholas (Adele Achem)"', 'female', '14', '1', '0', '237736', '30.0708', '', 'C\n'])
(0, ['11', '1', '3', '"Sandstrom', ' Miss. Marguerite Rut"', 'female', '4', '1', '1', 'PP 9549', '16.7', 'G6', 'S\n'])
(0, ['12', '1', '1', '"Bonnell', ' Miss. Elizabeth"', 'female', '58', '0', '0', '113783', '26.55', 'C103', 'S\n'])
(0, ['16', '1', '2', '"Hewlett', ' Mrs. (Mary D Kingcome) "', 'female', '55', '0', '0', '248706', '16', '', 'S\n'])
(0, ['20', '1', '3', '"Masselmani', ' Mrs. Fatima"', 'female', '', '0', '0', '2649', '7.225', '', 'C\n'])
(0, ['23', '1', '3', '"McGowan', ' Miss. Anna ""Annie"""', 'female', '15', '0', '0', '330923', '8.0292', '', 'Q\n'])
(0, ['26', '1', '3', '"Asplund', ' Mrs. Carl Oscar (Selma Augusta Emilia Johansson)"', 'female', '38', '1', '5', '347077', '31.3875', '', 'S\n'])
(0, ['29', '1', '3', '"O\'Dwyer', ' Miss. Ellen ""Nellie"""', 'female', '', '0', '0', '330959', '7.8792', '', 'Q\n'])
(0, ['32', '1', '1', '"Spencer', ' Mrs. William Augustus (Marie Eugenie)"', 'female', '', '1', '0', 'PC 17569', '146.5208', 'B78', 'C\n'])
(0, ['33', '1', '3', '"Glynn', ' Miss. Mary Agatha"', 'female', '', '0', '0', '335677', '7.75', '', 'Q\n'])
(0, ['40', '1', '3', '"Nicola-Yarred', ' Miss. Jamila"', 'female', '14', '1', '0', '2651', '11.2417', '', 'C\n'])
(0, ['44', '1', '2', '"Laroche', ' Miss. Simonne Marie Anne Andree"', 'female', '3', '1', '2', 'SC/Paris 2123', '41.5792', '', 'C\n'])
(0, ['45', '1', '3', '"Devaney', ' Miss. Margaret Delia"', 'female', '19', '0', '0', '330958', '7.8792', '', 'Q\n'])
(0, ['48', '1', '3', '"O\'Driscoll', ' Miss. Bridget"', 'female', '', '0', '0', '14311', '7.75', '', 'Q\n'])
(0, ['53', '1', '1', '"Harper', ' Mrs. Henry Sleeper (Myna Haxtun)"', 'female', '49', '1', '0', 'PC 17572', '76.7292', 'D33', 'C\n'])
(0, ['54', '1', '2', '"Faunthorpe', ' Mrs. Lizzie (Elizabeth Anne Wilkinson)"', 'female', '29', '1', '0', '2926', '26', '', 'S\n'])
(0, ['57', '1', '2', '"Rugg', ' Miss. Emily"', 'female', '21', '0', '0', 'C.A. 31026', '10.5', '', 'S\n'])
(0, ['59', '1', '2', '"West', ' Miss. Constance Mirium"', 'female', '5', '1', '2', 'C.A. 34651', '27.75', '', 'S\n'])
(0, ['62', '1', '1', '"Icard', ' Miss. Amelie"', 'female', '38', '0', '0', '113572', '80', 'B28', '\n'])
(0, ['67', '1', '2', '"Nye', ' Mrs. (Elizabeth Ramell)"', 'female', '29', '0', '0', 'C.A. 29395', '10.5', 'F33', 'S\n'])
(0, ['69', '1', '3', '"Andersson', ' Miss. Erna Alexandra"', 'female', '17', '4', '2', '3101281', '7.925', '', 'S\n'])
(0, ['80', '1', '3', '"Dowdell', ' Miss. Elizabeth"', 'female', '30', '0', '0', '364516', '12.475', '', 'S\n'])
(0, ['83', '1', '3', '"McDermott', ' Miss. Brigdet Delia"', 'female', '', '0', '0', '330932', '7.7875', '', 'Q\n'])
(0, ['85', '1', '2', '"Ilett', ' Miss. Bertha"', 'female', '17', '0', '0', 'SO/C 14885', '10.5', '', 'S\n'])
(0, ['86', '1', '3', '"Backstrom', ' Mrs. Karl Alfred (Maria Mathilda Gustafsson)"', 'female', '33', '3', '0', '3101278', '15.85', '', 'S\n'])
(0, ['89', '1', '1', '"Fortune', ' Miss. Mabel Helen"', 'female', '23', '3', '2', '19950', '263', 'C23 C25 C27', 'S\n'])
(0, ['99', '1', '2', '"Doling', ' Mrs. John T (Ada Julia Bone)"', 'female', '34', '0', '1', '231919', '23', '', 'S\n'])
(0, ['107', '1', '3', '"Salkjelsvik', ' Miss. Anna Kristine"', 'female', '21', '0', '0', '343120', '7.65', '', 'S\n'])
(0, ['110', '1', '3', '"Moran', ' Miss. Bertha"', 'female', '', '1', '0', '371110', '24.15', '', 'Q\n'])
(0, ['124', '1', '2', '"Webber', ' Miss. Susan"', 'female', '32.5', '0', '0', '27267', '13', 'E101', 'S\n'])
(0, ['129', '1', '3', '"Peter', ' Miss. Anna"', 'female', '', '1', '1', '2668', '22.3583', 'F E69', 'C\n'])
(0, ['134', '1', '2', '"Weisz', ' Mrs. Leopold (Mathilde Francoise Pede)"', 'female', '29', '1', '0', '228414', '26', '', 'S\n'])
(0, ['137', '1', '1', '"Newsom', ' Miss. Helen Monypeny"', 'female', '19', '0', '2', '11752', '26.2833', 'D47', 'S\n'])
(0, ['142', '1', '3', '"Nysten', ' Miss. Anna Sofia"', 'female', '22', '0', '0', '347081', '7.75', '', 'S\n'])
(0, ['143', '1', '3', '"Hakkarainen', ' Mrs. Pekka Pietari (Elin Matilda Dolck)"', 'female', '24', '1', '0', 'STON/O2. 3101279', '15.85', '', 'S\n'])
(0, ['152', '1', '1', '"Pears', ' Mrs. Thomas (Edith Wearne)"', 'female', '22', '1', '0', '113776', '66.6', 'C2', 'S\n'])
(0, ['157', '1', '3', '"Gilnagh', ' Miss. Katherine ""Katie"""', 'female', '16', '0', '0', '35851', '7.7333', '', 'Q\n'])
(0, ['162', '1', '2', '"Watt', ' Mrs. James (Elizabeth ""Bessie"" Inglis Milne)"', 'female', '40', '0', '0', 'C.A. 33595', '15.75', '', 'S\n'])
(0, ['167', '1', '1', '"Chibnall', ' Mrs. (Edith Martha Bowerman)"', 'female', '', '0', '1', '113505', '55', 'E33', 'S\n'])
(0, ['173', '1', '3', '"Johnson', ' Miss. Eleanor Ileen"', 'female', '1', '1', '1', '347742', '11.1333', '', 'S\n'])
(0, ['185', '1', '3', '"Kink-Heilmann', ' Miss. Luise Gretchen"', 'female', '4', '0', '2', '315153', '22.025', '', 'S\n'])
(0, ['187', '1', '3', '"O\'Brien', ' Mrs. Thomas (Johanna ""Hannah"" Godfrey)"', 'female', '', '1', '0', '370365', '15.5', '', 'Q\n'])
(0, ['191', '1', '2', '"Pinsky', ' Mrs. (Rosa)"', 'female', '32', '0', '0', '234604', '13', '', 'S\n'])
(0, ['193', '1', '3', '"Andersen-Jensen', ' Miss. Carla Christine Nielsine"', 'female', '19', '1', '0', '350046', '7.8542', '', 'S\n'])
(0, ['195', '1', '1', '"Brown', ' Mrs. James Joseph (Margaret Tobin)"', 'female', '44', '0', '0', 'PC 17610', '27.7208', 'B4', 'C\n'])
(0, ['196', '1', '1', '"Lurette', ' Miss. Elise"', 'female', '58', '0', '0', 'PC 17569', '146.5208', 'B80', 'C\n'])
(0, ['199', '1', '3', '"Madigan', ' Miss. Margaret ""Maggie"""', 'female', '', '0', '0', '370370', '7.75', '', 'Q\n'])
(0, ['209', '1', '3', '"Carr', ' Miss. Helen ""Ellen"""', 'female', '16', '0', '0', '367231', '7.75', '', 'Q\n'])
(0, ['212', '1', '2', '"Cameron', ' Miss. Clear Annie"', 'female', '35', '0', '0', 'F.C.C. 13528', '21', '', 'S\n'])
(0, ['216', '1', '1', '"Newell', ' Miss. Madeleine"', 'female', '31', '1', '0', '35273', '113.275', 'D36', 'C\n'])
(0, ['217', '1', '3', '"Honkanen', ' Miss. Eliina"', 'female', '27', '0', '0', 'STON/O2. 3101283', '7.925', '', 'S\n'])
(0, ['219', '1', '1', '"Bazzani', ' Miss. Albina"', 'female', '32', '0', '0', '11813', '76.2917', 'D15', 'C\n'])
(0, ['231', '1', '1', '"Harris', ' Mrs. Henry Birkhardt (Irene Wallach)"', 'female', '35', '1', '0', '36973', '83.475', 'C83', 'S\n'])
(0, ['234', '1', '3', '"Asplund', ' Miss. Lillian Gertrud"', 'female', '5', '4', '2', '347077', '31.3875', '', 'S\n'])
(0, ['238', '1', '2', '"Collyer', ' Miss. Marjorie ""Lottie"""', 'female', '8', '0', '2', 'C.A. 31921', '26.25', '', 'S\n'])
(0, ['242', '1', '3', '"Murphy', ' Miss. Katherine ""Kate"""', 'female', '', '1', '0', '367230', '15.5', '', 'Q\n'])
(0, ['248', '1', '2', '"Hamalainen', ' Mrs. William (Anna)"', 'female', '24', '0', '2', '250649', '14.5', '', 'S\n'])
(0, ['256', '1', '3', '"Touma', ' Mrs. Darwis (Hanne Youssef Razi)"', 'female', '29', '0', '2', '2650', '15.2458', '', 'C\n'])
(0, ['257', '1', '1', '"Thorne', ' Mrs. Gertrude Maybelle"', 'female', '', '0', '0', 'PC 17585', '79.2', '', 'C\n'])
(0, ['258', '1', '1', '"Cherry', ' Miss. Gladys"', 'female', '30', '0', '0', '110152', '86.5', 'B77', 'S\n'])
(0, ['259', '1', '1', '"Ward', ' Miss. Anna"', 'female', '35', '0', '0', 'PC 17755', '512.3292', '', 'C\n'])
(0, ['260', '1', '2', '"Parrish', ' Mrs. (Lutie Davis)"', 'female', '50', '0', '1', '230433', '26', '', 'S\n'])
(0, ['269', '1', '1', '"Graham', ' Mrs. William Thompson (Edith Junkins)"', 'female', '58', '0', '1', 'PC 17582', '153.4625', 'C125', 'S\n'])
(0, ['270', '1', '1', '"Bissette', ' Miss. Amelia"', 'female', '35', '0', '0', 'PC 17760', '135.6333', 'C99', 'S\n'])
(0, ['273', '1', '2', '"Mellinger', ' Mrs. (Elizabeth Anne Maidment)"', 'female', '41', '0', '1', '250644', '19.5', '', 'S\n'])
(0, ['275', '1', '3', '"Healy', ' Miss. Hanora ""Nora"""', 'female', '', '0', '0', '370375', '7.75', '', 'Q\n'])
(0, ['276', '1', '1', '"Andrews', ' Miss. Kornelia Theodosia"', 'female', '63', '1', '0', '13502', '77.9583', 'D7', 'S\n'])
(0, ['280', '1', '3', '"Abbott', ' Mrs. Stanton (Rosa Hunt)"', 'female', '35', '1', '1', 'C.A. 2673', '20.25', '', 'S\n'])
(0, ['290', '1', '3', '"Connolly', ' Miss. Kate"', 'female', '22', '0', '0', '370373', '7.75', '', 'Q\n'])
(0, ['291', '1', '1', '"Barber', ' Miss. Ellen ""Nellie"""', 'female', '26', '0', '0', '19877', '78.85', '', 'S\n'])
(0, ['292', '1', '1', '"Bishop', ' Mrs. Dickinson H (Helen Walton)"', 'female', '19', '1', '0', '11967', '91.0792', 'B49', 'C\n'])
(0, ['300', '1', '1', '"Baxter', ' Mrs. James (Helene DeLaudeniere Chaput)"', 'female', '50', '0', '1', 'PC 17558', '247.5208', 'B58 B60', 'C\n'])
(0, ['301', '1', '3', '"Kelly', ' Miss. Anna Katherine ""Annie Kate"""', 'female', '', '0', '0', '9234', '7.75', '', 'Q\n'])
(0, ['304', '1', '2', '"Keane', ' Miss. Nora A"', 'female', '', '0', '0', '226593', '12.35', 'E101', 'Q\n'])
(0, ['307', '1', '1', '"Fleming', ' Miss. Margaret"', 'female', '', '0', '0', '17421', '110.8833', '', 'C\n'])
(0, ['308', '1', '1', '"Penasco y Castellana', ' Mrs. Victor de Satode (Maria Josefa Perez de Soto y Vallejo)"', 'female', '17', '1', '0', 'PC 17758', '108.9', 'C65', 'C\n'])
(0, ['310', '1', '1', '"Francatelli', ' Miss. Laura Mabel"', 'female', '30', '0', '0', 'PC 17485', '56.9292', 'E36', 'C\n'])
(0, ['311', '1', '1', '"Hays', ' Miss. Margaret Bechstein"', 'female', '24', '0', '0', '11767', '83.1583', 'C54', 'C\n'])
(0, ['312', '1', '1', '"Ryerson', ' Miss. Emily Borie"', 'female', '18', '2', '2', 'PC 17608', '262.375', 'B57 B59 B63 B66', 'C\n'])
(0, ['316', '1', '3', '"Nilsson', ' Miss. Helmina Josefina"', 'female', '26', '0', '0', '347470', '7.8542', '', 'S\n'])
(0, ['317', '1', '2', '"Kantor', ' Mrs. Sinai (Miriam Sternin)"', 'female', '24', '1', '0', '244367', '26', '', 'S\n'])
(0, ['319', '1', '1', '"Wick', ' Miss. Mary Natalie"', 'female', '31', '0', '2', '36928', '164.8667', 'C7', 'S\n'])
(0, ['320', '1', '1', '"Spedden', ' Mrs. Frederic Oakley (Margaretta Corning Stone)"', 'female', '40', '1', '1', '16966', '134.5', 'E34', 'C\n'])
(0, ['323', '1', '2', '"Slayter', ' Miss. Hilda Mary"', 'female', '30', '0', '0', '234818', '12.35', '', 'Q\n'])
(0, ['324', '1', '2', '"Caldwell', ' Mrs. Albert Francis (Sylvia Mae Harbaugh)"', 'female', '22', '1', '1', '248738', '29', '', 'S\n'])
(0, ['326', '1', '1', '"Young', ' Miss. Marie Grice"', 'female', '36', '0', '0', 'PC 17760', '135.6333', 'C32', 'C\n'])
(0, ['328', '1', '2', '"Ball', ' Mrs. (Ada E Hall)"', 'female', '36', '0', '0', '28551', '13', 'D', 'S\n'])
(0, ['329', '1', '3', '"Goldsmith', ' Mrs. Frank John (Emily Alice Brown)"', 'female', '31', '1', '1', '363291', '20.525', '', 'S\n'])
(0, ['330', '1', '1', '"Hippach', ' Miss. Jean Gertrude"', 'female', '16', '0', '1', '111361', '57.9792', 'B18', 'C\n'])
(0, ['331', '1', '3', '"McCoy', ' Miss. Agnes"', 'female', '', '2', '0', '367226', '23.25', '', 'Q\n'])
(0, ['335', '1', '1', '"Frauenthal', ' Mrs. Henry William (Clara Heinsheimer)"', 'female', '', '1', '0', 'PC 17611', '133.65', '', 'S\n'])
(0, ['338', '1', '1', '"Burns', ' Miss. Elizabeth Margaret"', 'female', '41', '0', '0', '16966', '134.5', 'E40', 'C\n'])
(0, ['342', '1', '1', '"Fortune', ' Miss. Alice Elizabeth"', 'female', '24', '3', '2', '19950', '263', 'C23 C25 C27', 'S\n'])
(0, ['346', '1', '2', '"Brown', ' Miss. Amelia ""Mildred"""', 'female', '24', '0', '0', '248733', '13', 'F33', 'S\n'])
(0, ['347', '1', '2', '"Smith', ' Miss. Marion Elsie"', 'female', '40', '0', '0', '31418', '13', '', 'S\n'])
(0, ['348', '1', '3', '"Davison', ' Mrs. Thomas Henry (Mary E Finck)"', 'female', '', '1', '0', '386525', '16.1', '', 'S\n'])
(0, ['357', '1', '1', '"Bowerman', ' Miss. Elsie Edith"', 'female', '22', '0', '1', '113505', '55', 'E33', 'S\n'])
(0, ['359', '1', '3', '"McGovern', ' Miss. Mary"', 'female', '', '0', '0', '330931', '7.8792', '', 'Q\n'])
(0, ['360', '1', '3', '"Mockler', ' Miss. Helen Mary ""Ellie"""', 'female', '', '0', '0', '330980', '7.8792', '', 'Q\n'])
(0, ['367', '1', '1', '"Warren', ' Mrs. Frank Manley (Anna Sophia Atkinson)"', 'female', '60', '1', '0', '110813', '75.25', 'D37', 'C\n'])
(0, ['368', '1', '3', '"Moussa', ' Mrs. (Mantoura Boulos)"', 'female', '', '0', '0', '2626', '7.2292', '', 'C\n'])
(0, ['369', '1', '3', '"Jermyn', ' Miss. Annie"', 'female', '', '0', '0', '14313', '7.75', '', 'Q\n'])
(0, ['370', '1', '1', '"Aubart', ' Mme. Leontine Pauline"', 'female', '24', '0', '0', 'PC 17477', '69.3', 'B35', 'C\n'])
(0, ['376', '1', '1', '"Meyer', ' Mrs. Edgar Joseph (Leila Saks)"', 'female', '', '1', '0', 'PC 17604', '82.1708', '', 'C\n'])
(0, ['377', '1', '3', '"Landergren', ' Miss. Aurora Adelia"', 'female', '22', '0', '0', 'C 7077', '7.25', '', 'S\n'])
(0, ['381', '1', '1', '"Bidois', ' Miss. Rosalie"', 'female', '42', '0', '0', 'PC 17757', '227.525', '', 'C\n'])
(0, ['382', '1', '3', '"Nakid', ' Miss. Maria (""Mary"")"', 'female', '1', '0', '2', '2653', '15.7417', '', 'C\n'])
(0, ['384', '1', '1', '"Holverson', ' Mrs. Alexander Oskar (Mary Aline Towner)"', 'female', '35', '1', '0', '113789', '52', '', 'S\n'])
(0, ['388', '1', '2', '"Buss', ' Miss. Kate"', 'female', '36', '0', '0', '27849', '13', '', 'S\n'])
(0, ['390', '1', '2', '"Lehmann', ' Miss. Bertha"', 'female', '17', '0', '0', 'SC 1748', '12', '', 'C\n'])
(0, ['394', '1', '1', '"Newell', ' Miss. Marjorie"', 'female', '23', '1', '0', '35273', '113.275', 'D36', 'C\n'])
(0, ['395', '1', '3', '"Sandstrom', ' Mrs. Hjalmar (Agnes Charlotta Bengtsson)"', 'female', '24', '0', '2', 'PP 9549', '16.7', 'G6', 'S\n'])
(0, ['400', '1', '2', '"Trout', ' Mrs. William H (Jessie L)"', 'female', '28', '0', '0', '240929', '12.65', '', 'S\n'])
(0, ['413', '1', '1', '"Minahan', ' Miss. Daisy E"', 'female', '33', '1', '0', '19928', '90', 'C78', 'Q\n'])
(0, ['417', '1', '2', '"Drew', ' Mrs. James Vivian (Lulu Thorne Christian)"', 'female', '34', '1', '1', '28220', '32.5', '', 'S\n'])
(0, ['418', '1', '2', '"Silven', ' Miss. Lyyli Karoliina"', 'female', '18', '0', '2', '250652', '13', '', 'S\n'])
(0, ['427', '1', '2', '"Clarke', ' Mrs. Charles V (Ada Maria Winfield)"', 'female', '28', '1', '0', '2003', '26', '', 'S\n'])
(0, ['428', '1', '2', '"Phillips', ' Miss. Kate Florence (""Mrs Kate Louise Phillips Marshall"")"', 'female', '19', '0', '0', '250655', '26', '', 'S\n'])
(0, ['432', '1', '3', '"Thorneycroft', ' Mrs. Percival (Florence Kate White)"', 'female', '', '1', '0', '376564', '16.1', '', 'S\n'])
(0, ['433', '1', '2', '"Louch', ' Mrs. Charles Alexander (Alice Adelaide Slow)"', 'female', '42', '1', '0', 'SC/AH 3085', '26', '', 'S\n'])
(0, ['436', '1', '1', '"Carter', ' Miss. Lucile Polk"', 'female', '14', '1', '2', '113760', '120', 'B96 B98', 'S\n'])
(0, ['438', '1', '2', '"Richards', ' Mrs. Sidney (Emily Hocking)"', 'female', '24', '2', '3', '29106', '18.75', '', 'S\n'])
(0, ['441', '1', '2', '"Hart', ' Mrs. Benjamin (Esther Ada Bloomfield)"', 'female', '45', '1', '1', 'F.C.C. 13529', '26.25', '', 'S\n'])
(0, ['444', '1', '2', '"Reynaldo', ' Ms. Encarnacion"', 'female', '28', '0', '0', '230434', '13', '', 'S\n'])
(0, ['447', '1', '2', '"Mellinger', ' Miss. Madeleine Violet"', 'female', '13', '0', '1', '250644', '19.5', '', 'S\n'])
(0, ['449', '1', '3', '"Baclini', ' Miss. Marie Catherine"', 'female', '5', '2', '1', '2666', '19.2583', '', 'C\n'])
(0, ['458', '1', '1', '"Kenyon', ' Mrs. Frederick R (Marion)"', 'female', '', '1', '0', '17464', '51.8625', 'D21', 'S\n'])
(0, ['459', '1', '2', '"Toomey', ' Miss. Ellen"', 'female', '50', '0', '0', 'F.C.C. 13531', '10.5', '', 'S\n'])
(0, ['470', '1', '3', '"Baclini', ' Miss. Helene Barbara"', 'female', '0.75', '2', '1', '2666', '19.2583', '', 'C\n'])
(0, ['473', '1', '2', '"West', ' Mrs. Edwy Arthur (Ada Mary Worth)"', 'female', '33', '1', '2', 'C.A. 34651', '27.75', '', 'S\n'])
(0, ['474', '1', '2', '"Jerwan', ' Mrs. Amin S (Marie Marthe Thuillard)"', 'female', '23', '0', '0', 'SC/AH Basle 541', '13.7917', 'D', 'C\n'])
(0, ['480', '1', '3', '"Hirvonen', ' Miss. Hildur E"', 'female', '2', '0', '1', '3101298', '12.2875', '', 'S\n'])
(0, ['484', '1', '3', '"Turkula', ' Mrs. (Hedwig)"', 'female', '63', '0', '0', '4134', '9.5875', '', 'S\n'])
(0, ['487', '1', '1', '"Hoyt', ' Mrs. Frederick Maxfield (Jane Anne Forby)"', 'female', '35', '1', '0', '19943', '90', 'C93', 'S\n'])
(0, ['497', '1', '1', '"Eustis', ' Miss. Elizabeth Mussey"', 'female', '54', '1', '0', '36947', '78.2667', 'D20', 'C\n'])
(0, ['505', '1', '1', '"Maioni', ' Miss. Roberta"', 'female', '16', '0', '0', '110152', '86.5', 'B79', 'S\n'])
(0, ['507', '1', '2', '"Quick', ' Mrs. Frederick Charles (Jane Richards)"', 'female', '33', '0', '2', '26360', '26', '', 'S\n'])
(0, ['514', '1', '1', '"Rothschild', ' Mrs. Martin (Elizabeth L. Barrett)"', 'female', '54', '1', '0', 'PC 17603', '59.4', '', 'C\n'])
(0, ['517', '1', '2', '"Lemore', ' Mrs. (Amelia Milley)"', 'female', '34', '0', '0', 'C.A. 34260', '10.5', 'F33', 'S\n'])
(0, ['519', '1', '2', '"Angle', ' Mrs. William A (Florence ""Mary"" Agnes Hughes)"', 'female', '36', '1', '0', '226875', '26', '', 'S\n'])
(0, ['521', '1', '1', '"Perreault', ' Miss. Anne"', 'female', '30', '0', '0', '12749', '93.5', 'B73', 'S\n'])
(0, ['524', '1', '1', '"Hippach', ' Mrs. Louis Albert (Ida Sophia Fischer)"', 'female', '44', '0', '1', '111361', '57.9792', 'B18', 'C\n'])
(0, ['527', '1', '2', '"Ridsdale', ' Miss. Lucy"', 'female', '50', '0', '0', 'W./C. 14258', '10.5', '', 'S\n'])
(0, ['531', '1', '2', '"Quick', ' Miss. Phyllis May"', 'female', '2', '1', '1', '26360', '26', '', 'S\n'])
(0, ['534', '1', '3', '"Peter', ' Mrs. Catherine (Catherine Rizk)"', 'female', '', '0', '2', '2668', '22.3583', '', 'C\n'])
(0, ['536', '1', '2', '"Hart', ' Miss. Eva Miriam"', 'female', '7', '0', '2', 'F.C.C. 13529', '26.25', '', 'S\n'])
(0, ['538', '1', '1', '"LeRoy', ' Miss. Bertha"', 'female', '30', '0', '0', 'PC 17761', '106.425', '', 'C\n'])
(0, ['540', '1', '1', '"Frolicher', ' Miss. Hedwig Margaritha"', 'female', '22', '0', '2', '13568', '49.5', 'B39', 'C\n'])
(0, ['541', '1', '1', '"Crosby', ' Miss. Harriet R"', 'female', '36', '0', '2', 'WE/P 5735', '71', 'B22', 'S\n'])
(0, ['547', '1', '2', '"Beane', ' Mrs. Edward (Ethel Clarke)"', 'female', '19', '1', '0', '2908', '26', '', 'S\n'])
(0, ['555', '1', '3', '"Ohman', ' Miss. Velin"', 'female', '22', '0', '0', '347085', '7.775', '', 'S\n'])
(0, ['557', '1', '1', '"Duff Gordon', ' Lady. (Lucille Christiana Sutherland) (""Mrs Morgan"")"', 'female', '48', '1', '0', '11755', '39.6', 'A16', 'C\n'])
(0, ['559', '1', '1', '"Taussig', ' Mrs. Emil (Tillie Mandelbaum)"', 'female', '39', '1', '1', '110413', '79.65', 'E67', 'S\n'])
(0, ['560', '1', '3', '"de Messemaeker', ' Mrs. Guillaume Joseph (Emma)"', 'female', '36', '1', '0', '345572', '17.4', '', 'S\n'])
(0, ['572', '1', '1', '"Appleton', ' Mrs. Edward Dale (Charlotte Lamson)"', 'female', '53', '2', '0', '11769', '51.4792', 'C101', 'S\n'])
(0, ['574', '1', '3', '"Kelly', ' Miss. Mary"', 'female', '', '0', '0', '14312', '7.75', '', 'Q\n'])
(0, ['577', '1', '2', '"Garside', ' Miss. Ethel"', 'female', '34', '0', '0', '243880', '13', '', 'S\n'])
(0, ['578', '1', '1', '"Silvey', ' Mrs. William Baird (Alice Munger)"', 'female', '39', '1', '0', '13507', '55.9', 'E44', 'S\n'])
(0, ['581', '1', '2', '"Christy', ' Miss. Julie Rachel"', 'female', '25', '1', '1', '237789', '30', '', 'S\n'])

In [44]:
import pandas as pd
df = pd.read_csv('titanic.csv')
len(df[(df['Sex'] == 'female') & (df['Survived'] == 1)])
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,NaN,S
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S
864,865,0,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,NaN,S
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,NaN,S
866,867,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S
868,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,NaN,S
870,871,0,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,NaN,S
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,S
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,NaN,S
877,878,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,NaN,S
878,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
881,882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q